{:lib      io.github.hive-agi/hive-fressian
 :minor    1
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-fressian"
 :src-dirs ["src" "resources"] :publish  :clojars}
